<template name="userConfigTemplate">

  <h2>Configurações do usuário</h2>

    <div class="row">
      <div class="col-lg-12">

        <div class="col-md-8">

          {{#autoForm id="transportForm" resetOnSuccess=false collection="Meteor.users"  doc=this type="update"}}

          <div class="well well-sm">
            <div class="container-fluid">
              {{> footerOptions}}
              <!-- <button type="submit" class="btn btn-default">
                Salvar
              </button> -->
            </div>

          </div>

          {{> afQuickField id="UserProfileEdit" name="profile.nome" formgroup-class="col-lg-4"}}
          {{> afQuickField id="UserProfileEdit" name="profile.cnpj" formgroup-class="col-lg-4"}}
          {{> afQuickField id="UserProfileEdit" name="profile.razaosocial" formgroup-class="col-lg-4"}}
          {{> afQuickField id="UserProfileEdit" name="profile.nomefantasia" formgroup-class="col-lg-6"}}
          {{> afQuickField id="UserProfileEdit" name="profile.inscricaoestadual" formgroup-class="col-lg-3"}}
          {{> afQuickField id="UserProfileEdit" name="profile.inscricaomunicipal" formgroup-class="col-lg-3"}}
          {{> afQuickField id="UserProfileEdit" name="profile.cnae" formgroup-class="col-lg-6"}}
          {{> afQuickField id="UserProfileEdit" name="profile.crt" formgroup-class="col-lg-6"}}

          {{/autoForm}}


        </div>

        <div class="col-md-4 form-group">

          <div class="col-lg-12 form-group">

            <label for="addFoto">Adicionar Foto</label>
            <input type="file" id="addFoto">
          </div>


          <div class="col-lg-12 form-group">
            <label for="addCertificado">Adicionar certificado</label>
            <input type="file" id="addCertificado" class="addCertificado">
          </div>


        </div>

    </div>

  </div>


</template>
