<template name="userConfigTemplate">

  <h2>Configurações do usuário</h2>

    <div class="row">
      <div class="col-lg-12">

        <div class="col-md-8">

          {{#autoForm id="UserProfileEdit" resetOnSuccess=false collection="Meteor.users" template="bootstrap3-inline"  doc=this type="update"}}

          <!--  {{> afQuickField id="uusername" name="username" label="Apelido *" formgroup-class="col-md-3"}} -->
          {{> afQuickField id="nome" name="profile.name" label="Nome *" formgroup-class="col-md-6"}}
          {{> afQuickField id="cnpj" name="profile.cnpj" label="CNPJ *" formgroup-class="col-md-6"}}
          {{> afQuickField type="password" id="senha" name="profile.senhacertificado" label="Senha do Certificado *" formgroup-class="col-md-6"}}
          {{> afQuickField id="estado" name = "profile.state" label="Estado *" options=States formgroup-class="col-md-2"}}
          {{> afQuickField id="cidade" name = "profile.city" label="Cidade *" options=Cities  formgroup-class="col-md-4"}}

          {{/autoForm}}



          {{>footerOptions}}



        </div>

        <div class="col-md-4">
          <label for="addCertificado">Adicionar certificado</label>
          <input type="file" multiple="true" id="addCertificado" class="addCertificado">
        </div>

    </div>

  </div>


</template>
