<template name="timeline">


  <div class="row">
    <fieldset class="col-sm-12">
      <legend>últimos posts</legend>
      {{#each posts}}
        {{>postItem}}
      {{else}}
      <p class="lead text-center">
        Nenhum post publicado.
      </p>
      {{/each}}
    </fieldset>
  </div>
</template>


<template name="postItem">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
        <a href="/profile/{{userId}}">
          {{getNameById userId}}
        </a>

        <span id="deleteBtn" class="glyphicon glyphicon-remove" style="float: right"></span>
      </h2>
    </div>

    <div class="panel-body">
      <p>

        {{#if message}}

        {{message}}

        {{else}}
        <h2 style="color: gray">
          Nenhum Mensagem
        </h2>
        {{/if}}
      </p>

    </div>

    <div class="panel-footer text-center">
      {{date}}
    </div>
  </div>

</template>
