<template name="ApplicationLayout">
  <header>
    <div class="col-lg-12">
      {{> navbarHeader}}

    </div>
  </header>


  <body>
    <div class="col-lg-12">

      {{> navegation}}

      <div class="col-lg-10">
        {{> yield}}
      </div>

    </div>



  <!-- </div> -->

</body>
</template>

    <!-- {{#with isLogged}} -->

    <!-- <div class="col-lg-12">
      {{> topNavbar}}
    </div> -->

    <!-- <div class="col-lg-2 alert-info">
    {{#if showLeftNavbar}}
      {{> leftNavbar}}
    {{/if}}
  </div> -->
<!-- <div class="container-fluid" > -->
<!-- </div> -->

    <!-- <div class="col-lg-2">
    {{> rightNavbar}}
  </div>
  {{else}}
  {{> Landing}}
-->
  <!-- {{/with}}  -->



<template name="ApplicationLayout2">
  <header>
  {{> navbarHeader}}
  </header>
  <body>

    {{#with getCurrentUser}}
    <div class="col-lg-3 pull-left">
      {{> leftNavbar}}
    </div>
    <div class="col-lg-9">
      {{> yield}}
    </div>
    {{else}}
    <div class="col-lg-12 text-center">
      <div class="col-lg-6 text-right">
        {{> register}}
      </div>

      <div class="col-lg-6 text-left">
        {{> login}}
      </div>
    </div>
    {{/with}}


</body>

</template>
