<template name="register">
    <h2>Register</h2>
    <form class="register">
        <p>Email: <input type="email" name="registerEmail"></p>
        <p>Password: <input type="password" name="registerPassword"></p>
        <p><input type="submit" value="Register"></p>
    </form>
</template>

<template name="login">
    <h2>Login</h2>
    <form class="login">
        <p>Email: <input type="email" name="loginEmail"></p>
        <p>Password: <input type="password" name="loginPassword"></p>
        <p><input type="submit" value="Login"></p>
    </form>
</template>
