<template name="navbarHeader">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>

                <a class="{{ activeIfTemplateIs 'Landing' }} navbar-toggle navbar-brand" href="/Home">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Home</a>
    </div>

    <div class="navbar-collapse collapse" id="navigationbar">
        <ul class="nav navbar-nav">
          <li class="{{ activeIfTemplateIs 'Landing' }}"><a  href="/Landing">
            <span> <img alt="Logo" src="/logo_serendipiti_navbar.png" height="20" width="20"/></span> Serendipity</a></li>

          {{#if currentUser}}
          <li class="{{ activeIfTemplateIs 'Home' }}"><a href="/Home">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Home</a></li>
          {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}} <!-- here -->

        </ul>

        <div class="col-sm-3 col-md-3">





        </div>

      </div>

  </div>
</template>


<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <!-- <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit Profile</button> -->
    <button class="btn btn-default btn-block" id="login-buttons-my-startups">My Startups</button>
</template>
