<template name="navbarHeader">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="{{ activeIfTemplateIs 'Landing' }} navbar-toggle navbar-brand" href="/Home">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Home</a>
      </div>

      <div class="navbar-collapse collapse" id="navigationbar">
        <ul class="col-lg-9 nav navbar-nav">
          <li class="{{ activeIfTemplateIs 'Landing' }}"><a  href="/">
            <span> <img alt="Logo" src="/logo.png" height="24" width="220"/></span></a></li>

            {{#if currentUser}}
              <li class="{{ activeIfTemplateIs 'Home' }}"><a href="/">
              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Home</a></li>
              {{/if}}

            </ul>
            {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
            {{else}}
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
            {{/if}}
          </div>

        </div>
      </template>


      <template name="_loginButtonsAdditionalLoggedInDropdownActions">
        <!-- <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit Profile</button> -->
      </template>
