<template name="Profile">
  <div class="container-fluid">
    <!-- Pass this data to button bar -->
    {{> UserFeedPanel }}
  </div>
</template>

<template name="UserFeedPanel">
  <div class="row">

    <div class="col-md-12">
        {{> UserInfoPanel}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Meus Posts:
        {{#each getUserPosts this._id}}
          {{> postItem}}

        {{/each}}
    </div>
  </div>

</template>

<template name="UserInfoPanel">
  <div class="row" style="background:gray;">
    <div class="col-lg-2">
      <img src="/goku.png" class="img-responsive" alt="">

    </div>
    <div class="col-lg-10">
      <h2>
        <label style="color: black">{{this.profile.name}}</label>
      </h2>
      <p>
      </p>

      <!--
    -->
        {{> followButton}}

      {{#unless showPublicProfile}}
      <p>
        <button type="button" id="view-public-profile-btn" class="btn btn-default">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Ver perfil público
        </button>
      </p>
      <p>
        <button type="button" id="edit-profile-btn" class="btn btn-default">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Editar perfil
        </button>
      </p>
      {{/unless}}

    </div>
  </div>
</template>


<template name="followButton">

  {{#if canFollow}}
      {{#if isFollowing }}
        <button id="unfollowBtn">Deixar de seguir</button>
      {{else}}
      <button id="followBtn">Seguir</button>
      {{/if}}
  {{/if}}


</template>


<template name="ButtonBar">
  <div class="row">
    <div class="col-md-12" >
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button id="FollowingBtn" type="button" class="btn btn-default">Seguindo</button>
      </div>
      <div class="btn-group" role="group">
        <button id="FollowersBtn" type="button" class="btn btn-default">Seguidores</button>
      </div>

      {{#unless showPublicProfile}}
        {{#if isUserInRole _id 'professional' }}
        <div class="btn-group" role="group">
          <button id="PortfolioBtn" type="button" class="btn btn-default">"Portifólio"</button>
        </div>
        {{/if}}
      {{/unless}}

      {{#if isUserInRole _id 'client' }}
      <div class="btn-group" role="group">
        <button id="PanelBtn" type="button" class="btn btn-default">"Painel"</button>
      </div>
      {{/if}}

      {{#unless showPublicProfile}}
      <div class="btn-group" role="group">
        <button id="BudgetBtn" type="button" class="btn btn-default">Orçamentos</button>
      </div>
      {{/unless}}

      <div class="btn-group" role="group">
        <button id="AvaliationBtn" type="button" class="btn btn-default">Avaliações</button>
      </div>

      {{#unless showPublicProfile}}
      <div class="btn-group" role="group">
        <button id="TipsBtn" type="button" class="btn btn-default">Dicas Serendipi</button>
      </div>
      {{/unless}}

    </div>
    </div>
  </div>
</template>



<template name="userProfileTemplate">
  {{> Profile}}
</template>

<template name="editProfileTemplate">
  <h2>Editar</h2>


  <div class="row">
    <div class="col-lg-12">

      <div class="col-md-8">

        {{#autoForm id="UserProfileEdit" resetOnSuccess=false collection="Meteor.users" template="bootstrap3-inline"  doc=this type="update"}}

        <!--  {{> afQuickField id="uusername" name="username" label="Apelido *" formgroup-class="col-md-3"}} -->
        {{> afQuickField id="nome" name="profile.name" label="Nome *" formgroup-class="col-md-6"}}
        {{> afQuickField id="cnpj" name="profile.cnpj" label="CNPJ *" formgroup-class="col-md-6"}}
        {{> afQuickField id="senha" name="profile.password" label="Senha do Certificado *" formgroup-class="col-md-6"}}
        {{> afQuickField id="estado" name = "profile.state" label="Estado *" options=States formgroup-class="col-md-2"}}
        {{> afQuickField id="cidade" name = "profile.city" label="Cidade *" options=Cities  formgroup-class="col-md-4"}}

        {{>footerOptions}}

        {{/autoForm}}


      </div>

      <div class="col-md-4">
        <img src="{{this.profile.photos}}" class="img-rounded"
        alt="{{this.profile.name}} {{currentUser.profile.lastName}}" width="80" height="80">
        <input type="file" multiple="true" id="addPhoto" class="addPhoto">
      </div>

  </div>

</div>




<div class="row">
  <div class="col-lg-12 text-center">

    <button type="button" id="submitForm" class="btn btn-primary">Submit</button>
  </div>
</div>

</template>


<template name="footerOptions">
  <div class="row text-center">
    <button id="save" type="button" class="btn btn-success">
      <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
      Salvar
    </button>
    <button id="check" type="button" class="btn btn-warning">
      <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
      Checar
    </button>
    <button id ="cancel" type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Cancelar
    </button>
  </div>


</template>
