<template name="orderTemplate">

  <h2>Meus pedidos</h2>

  {{> showOrders}}


</template>

<template name="orderNavbar">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="text-left form-group">
            <button id="showAllOrdersBtn" type="button" class="btn btn-default">
              Todos os Pedidos
            </button>
            <button id="showOpenOrdersBtn" type="button" class="btn btn-default">
              Pedidos Abertos
            </button>
            <button id="showFinalizedBtn" type="button" class="btn btn-default">
              Pedidos Finalizados
            </button>


          <!-- {{> addTipModal}} -->
        </div>

      </div>

      <div class="panel-body">

        {{> Template.dynamic template=tab data=tabData}}


        <!-- {{> googleLikeHelp}} -->
      </div>
    </div>

    </div>
  </div>
</template>




<template name="userPosts">
  <h2>Post Lists</h2>
  <select>
    {{#each postLists}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>

  <h2>Filtered Posts</h2>
  <ul>
  {{#each filteredPosts}}
    <li>{{name}}</li>
  {{/each}}
  </ul>
</template>



<template name="orderOpen">

<!-- {{> userPosts}} -->


  <div class="row">


      <div class="col-lg-12">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <h2 class="panel-title text-center">
              <button type="button" id="checkOrder" style="float:left;" class="btn btn-success">
                <span class="fa fa-check fa-2x"> </span>

              </button>
                {{getClient.nome}}
              <button type="button" id="removeOrder" style="float:right;background:transparent;" class="btn">
                <span class="fa fa-times fa-2x"></span>

              </button>
            </h2>

          </div>

          <div class="panel-body">
            {{#each getProducts}}
            <p>{{this.nome}}  x{{this.quantidade}} = {{this.subtotal}}</p>
            {{/each}}

          </div>
          <div class="panel-footer">
            {{this.createdAt}}
          </div>

        </div>

      </div>

  </div>

</template>

<template name="orderFinalized">

  <div class="panel panel-success">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
          {{getClient.nome}}
        </a>
      </h4>

    </div>

    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        {{#each getProducts}}
        <p>{{this.nome}}  x{{this.quantidade}} = {{this.subtotal}}</p>
        {{/each}}

      </div>
      <div class="panel-footer">
        {{this.createdAt}}
      </div>
    </div>
  </div>

</template>


<template name="showOpenOrders">

  {{#each getOrders}}

  {{#if this.status}}
    {{> orderOpen}}

  {{else}}
    {{> orderFinalized}}
  {{/if}}


  {{/each}}

</template>

<template name="showOrders">

  {{#each getOrders}}

  {{#if this.status}}
    {{> orderOpen}}

  {{else}}
    {{> orderFinalized}}
  {{/if}}


  {{/each}}

</template>
